* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background-image: url("./images/fondo.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}

.contenedor-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    font-size: 2rem;
    font-family: fantasy;
    color: rgb(216, 186, 14);
    text-shadow: 2px 2px 4px red;
}

header img {
    width: 115px;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.botones {
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-decoration: none;
    background: #b1dae4;
    padding: 5px;
    border: 2px solid rgb(192, 141, 32);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
}

.diseño-2 {
    width: 200px;
}
.imagen-1 {
    width: 200px;
}
.imagen-2 {
    width: 200px;
}
.imagen-3 {
    width: 200px;
}