* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background-image: url("./images/fondo.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}

header img {
    width: 200px;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}


/* .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
} */

.botones {
    color: #ffff;
    font-size: 20px;
    text-decoration: none;
    background: #b1dae4;
    padding: 5px;
    border: 2px solid black;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
}

.diseño-2 {
    width: 200px;
}
.imagen-1 {
    width: 200px;
}
.imagen-2 {
    width: 200px;
}
.imagen-3 {
    width: 200px;
}