* {
    padding: 0;
    margin: 0;
}

h1 {
    color: black;
    font-style: oblique;
    font-size: 65px;
}

header nav {
    text-transform: uppercase;
    text-align: right;
    padding: 20px;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 5px;
    border: 2px solid black;
    margin: 5px;
    background-color: blue;
    display: inline-block;
    font-style: oblique;
    box-shadow: 3px 3px gray;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div {
    display: block;
}

section h2 {
    border: 2px solid black;
    text-align: center;
    display: block;
}